@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../assets/fonts/Montserrat-SemiBold.ttf');
    url('./assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../assets/fonts/Montserrat-Light.ttf');
url('./assets/Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
